body {
    padding: 0;
    margin: 0;
    font-family: Verdana, sans-serif;
    text-align: center;
}


#custom, #in, #out {
    cursor: pointer;
    border: solid 1px rgba(128,128,128,0.0);
    transition: box-shadow ease .2s, border ease .2s;
}

#custom {
    opacity: 0.15;
}

#custom:hover, #in:hover, #out:hover {
    box-shadow: 5px 5px 5px #888;
    border: solid 1px rgba(128,128,128,0.5);
    opacity: 1;
}

#footer {
    position: fixed;
    bottom: 0px;

    width: 100%;
    height: 15px;

    background-color: #CCC;
    color: #FFF;

    font-size: 12px;
    text-align: center;
}
