table {
    width: 600px;
    margin: 50px auto;
    border-collapse: collapse;
}

thead th {
    font-size: 16px;
    font-family: Lato;
    font-weight: normal;
    text-align: center;
}

th.weekheader {
    padding-top: 25px;
    text-align: left;
    border-bottom: dotted 1px #888;
    font-family: Lato;
    font-size: 28px;
    font-weight: normal;
}

th.weekheader span.weeklabel { font-size: 14px; }
th.weekheader span.weekspan  { font-size: 20px; }

th.sum {
    font-size: 20px;
    font-weight: normal;
    color: #400;
}

td {
    text-align: center;
    font-family: Helvetica;
    font-size: 18px;
    
}

td.day          { background-color: #FFFFFF; }
td.in           { background-color: #EEEEEE; }
td.out          { background-color: #F8F8F8; }
td.hours        { background-color: #E8E8FF; }

td[predict="True"]      { 
    color:#800; 
    opacity:0.5;
}

td.day {
    font-size: 18px;
    text-align: right;
    width: 80px;
}

td.day span.unselected ,
td.day span.selected {
    font-family: Lato;
    margin-left: -2px;
}
td.day span.unselected {
    opacity: 0.25;
}
td.day span.selected {
    opacity: 1.0;
    font-weight: bold;
}

