table {
    width: 600px;
    margin: 50px auto;
    border-collapse: collapse;
}

thead th {
    font-size: 16px;
    font-family: Lato;
    font-weight: normal;
    text-align: center;
    border-left: solid 1px rgba(128,128,128,0.25);
}
thead th:first-of-type,
thead th:nth-of-type(2) {
    border-left: none;
}

th.weekheader {
    padding-top: 25px;
    text-align: left;
    border-bottom: dotted 1px #888;
    font-family: Lato;
    font-size: 28px;
    font-weight: normal;
}

th.weekheader span.label-week { font-size: 14px; }
th.weekheader span.weekspan  { font-size: 20px; }

th.label-total  { 
    text-align: right;
    font-family: Lato;
    font-size: 12px; 
    opacity: 0.35;
}

th.sum {
    font-size: 20px;
    font-weight: normal;
    color: #400;
}

td {
    text-align: center;
    font-family: Helvetica;
    font-size: 18px;
    
}

td.day          { background-color: #F9F9F9; }
td.in           { background-color: #EEEEEE; }
td.out          { background-color: #F8F8F8; }
td.hours        { background-color: #E8E8FF; }

td[predict="True"]      { 
    color:#800; 
    opacity:0.5;
}

td.day {
    font-size: 18px;
    text-align: right;
    width: 80px;
    transition: background-color ease .25s;
}

td.day span.delete ,
td.day span.unselected ,
td.day span.selected {
    font-family: Lato;
    margin-left: -2px;
}
td.day span.unselected {
    opacity: 0.25;
}
td.day span.selected {
    opacity: 1.0;
    font-weight: bold;
}
td.day span.delete { 
    display: none; 
    cursor: pointer;
    color: #FFF;
    width: 100%;
    text-align: center;
    font-weight: 100;
}
td.day:hover { background-color: #800; }
td.day:hover span.delete { display: inline; }
td.day:hover span.selected, td.day:hover span.unselected { display: none; }
