<!DOCTYPE html>
<html>
<head>
    <title>TimeTables 0.1Alfa</title>
    <link rel='stylesheet' href="{{ url_for("static", filename="style.css") }}" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    {% block head %} {% endblock %}
</head>
<body>
    <div id='content'>
        {% block content %}
        {% endblock %}
    </div>
    <div id='footer'>
        {% block footer %}
        &copy; Copyright novaLosuhWrapters 2014.
        {% endblock %}
    </div>
</body>
