<!DOCTYPE html>
<html>
<head>
    <title>TimeTables 0.1Alfa</title>
    {% block head %} {% endblock %}
</head>
<body>
<div data-role="page">

    <div data-role='header' class="jqm-header">
        {% block header %}
        {% endblock %}
    </div>

    <div id='content' role='main' class="ui-content jqm-content">
        {% block content %}
        {% endblock %}
    </div>

    <div id='footer' data-role='footer'>
        {% block footer %}
        {% endblock %}
        &copy; Copyright novaLosuhWrapters 2014.
    </div>

        {% block panel %}
        {% endblock %}

</div>
</body>
